.edit-project {
    width: 100vw;
    min-height: 100vh;
    padding: 40px 0 0 70px;
}

.edit-project form {
    width: 100%;
}

.edit-project .input-container {
    display: flex;
    flex-direction: column;
}

.edit-project .description {
    width: 90%;
}

.edit-project .project-title {
    width: 320px;
}

.edit-project .project-goal {
    width: 200px;
}