.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.hero-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    /* margin-top: 15px; */
}

.hero {
    border-radius: 5px;
    padding: 50px;
    margin: 20px auto;
    max-width: 600px;
}

.hero .title {
    font-weight: 200;
    max-width: 400px;
    margin-bottom: 35px;
}

.hero .name {
    font-weight: 600;
}

.hero p {
    margin-bottom: 30px;
    max-width: 490px;
}

.projects {
    margin: 25px auto;
    padding: 20px;
}

.projects .title {
    padding-left: 70px;
}

.projects-container {
    display: flex;
    padding: 20px;
    overflow-x: auto;
}

.project-card {
    width: 400px;
    height: 480px;
    margin: 0 10px;
}

.project-card img {
    width: 350px;
    height: 220px;
}
