.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.project-page {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    max-width: 900px
}

.project-page .pledges {
    width: 80%;
    margin: 0 auto;
    height: 800px;
}

.pledges .data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 250px
}
