.project-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto 50px auto;
    max-width: 900px;
    min-height: 100vh;
}

.project-page img {
    width: 700px;
    height: 100%;
    object-fit: cover;
    margin: 0 auto 20px;

    @media screen and (max-width:720px) {
        width: 350px;
    }
}

.project-info {
    width: 70%;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: fit-content;
    gap: 20px;
}

.project-info .date-owner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.project-page .pledge-data {
    width: 70%;
    margin: 0 auto 60px auto;
}

.project-page .pledge-data h3 {
    margin-bottom: 10px;
}

.project-page .pledge {
    width: 70%;
    margin: 0 auto;

    @media screen and (max-width:600px) {
        width: 100%;
        padding: 10px;
    }
}

.project-page .pledge .green-btn {
    padding: 12px;

    @media screen and (max-width:600px) {
        width: 100%;
    }
}

.close-pledge {
    position: relative;
    margin-right: 40px;

    @media screen and (max-width: 450px) {
        margin-right: 5px;
        margin-bottom: 20px;
    }
}

.close-pledge .icon {
    text-align: end;
    position: absolute;
    right: 0;
}

.project-page .text {
    font-size: 18px;
    text-align: center;
    padding: 0 30px 0 30px;
}

.project-page .login-link, .project-page .signup-link {
    font-weight: 800;
}
