/* .activity {
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

.activity {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}