.new-project {
    width: 100vw;
    min-height: 100vh;
}

.new-project .title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.new-project form {
    width: fit-content;
    margin: 0 auto;
}

.new-project .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-project input,
.new-project textarea {
    width: 380px;
    margin-left: 30px;

    @media screen and (max-width: 600px) {
        width: 280px;
        margin-left: 0;
    }
}

.new-project form label {
    font-weight: 400;
    font-size: 16px;
}

.new-project .btn-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.new-project button {
    padding: 8px;
    margin: 20px auto;
}
