.owned-pledges {
    height: fit-content;
    margin-bottom: 50px;
}

.owned-pledges .title {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 200;
    cursor: pointer;
}

.owned-pledges .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 50px;

    @media screen and (max-width: 500px) {
        margin-left: 0;
    }
}

.owned-pledges .value {
    font-weight: 600;
}

.owned-pledges .info-container {
    display: flex;
    width: 300px;
    justify-content: space-between;

    @media screen and (max-width: 500px) {
        font-size: 14px;
        width: 280px;
    }
}
