.owned-projects {
    height: fit-content;
}

.owned-projects .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 150px;

    @media screen and (max-width: 1500px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 120px;
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 120px;
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }
}

.owned-projects .owned-card {
    @media screen and (max-width: 720px) {
        width: fit-content;
        height: fit-content;
    }

    /* @media screen and (max-width: 600px) {
        margin-bottom: 30px;
    } */
}

.owned-projects .title {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 200;
    cursor: pointer;
}

.owned-projects li {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 30px;
}

.owned-projects .subtitle {
    font-weight: 400;
    margin-bottom: 10px;
}

.owned-projects .image {
    width: 300px;
    height: 100%;
    margin-left: 30px;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 2px;

    @media screen and (max-width: 600px) {
        width: 280px;
        margin-left: 0;
    }
}

.project-btns {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    gap: 15px;

    @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: end;
        margin-right: 10px;
        gap: 10px;
    }
}

.edit-btn,
.del-btn {
    border: 2px solid rgb(235, 229, 229, 0.5);
    border-radius: 2px;
    box-shadow: 1px 1px 8px #1d2616;
    padding: 5px 8px;
    transition: transform 0.2s ease-in;

    @media screen and (max-width: 600px) {
        min-width: 70px;
        text-align: center;
        font-size: 14px;
    }
}
.edit-btn:hover,
.del-btn:hover {
    transform: scale(1.05);
}
