.pledge-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 350px;
}

.pledge-form form {
    display: flex;
    flex-direction: column;
}

.pledge-form .amount-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    width: fit-content;

    @media screen and (max-width: 720px) {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 0;
    }
}

.pledge-form .number-btn {
    min-width: 90px;
    padding: 12px;
    border: 2px solid #425e2f;
    background-color: transparent;
    border-radius: 2px;
    box-shadow: 1px 1px 8px #1d2616;
    color: inherit;
    font-weight: 400;
    font-size: 18px;
}

.pledge-form .amount-options input {
    text-align: right;
}



.other::-webkit-outer-spin-button,
.other::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.pledge-form .comment-label {
    margin-top: 30px;
}

.pledge-form .comment {
    width: 80%;

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.pledge-amount {
    font-size: 24px;
    margin: 15px 0 0 15px;
}

.anonymous {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.anonymous .selector {
    border-radius: 4px;
    padding: 8px;
    font-size: 18px;
    outline-color: #425e2f;
}

.pledge-form .green-btn {
    max-width: 120px;
    margin-top: 30px;
}
