.signup {
    width: 100vw;
    min-height: 100vh;
}

.signup .title {
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
}

.signup form {
    width: fit-content;
    margin: 0 auto;
}

.signup .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup input {
    width: 300px;
    margin-left: 30px;

    @media screen and (max-width: 600px) {
        width: 280px;
        margin-left: 0;
    }
}

.signup form label {
    font-weight: 400;
    font-size: 16px;
}

.signup .btn-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.signup button {
    margin: 20px auto;
}

.signup p {
    text-align: center;
}

.signup .login-link {
    font-weight: 700;
}
