.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    margin: 0 auto;
}

.signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.signup button {
    margin-top: 40px;
}

.signup input {
    border-radius: 8px;
}

.signup form * {
    padding: 10px;
}

.signup .form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.signup p {
    margin-top: 10px;
}